### IMPORT MODULES

In [1]:
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import requests
import re

# API WORK

## Connecting to API (related job)

In [2]:
response = requests.get('http://ddragon.leagueoflegends.com/cdn/11.5.1/data/es_ES/champion.json')

## Getting json

In [3]:
champ_ls = list(response.json()['data'].keys())

In [4]:
champ_df = pd.DataFrame()
for i in range(len(champ_ls)):
    champ_data = pd.json_normalize(response.json()['data'][champ_ls[i]])
    champ_df = champ_df.append(champ_data)

In [6]:
champ_df.to_csv('champions.csv')

In [6]:
item_req = requests.get('http://ddragon.leagueoflegends.com/cdn/11.5.1/data/es_ES/item.json')

item_ls = []
for i in list(range(0,10000)):
    try:
        a = item_req.json()['data'][str(i)]
        item_ls.append(str(i))
    except:
        pass

In [18]:
item_table = pd.DataFrame()
for i in item_ls:
    item_id = i
    try:
        name = item_req.json()['data'][i]['name']
    except:
        name = np.nan
        
    try:
        upper_item = item_req.json()['data'][i]['into']
    except:
        upper_item = np.nan
    
    try:
        explain = item_req.json()['data'][i]['plaintext']
    except:
        explain = np.nan
    
    try:
        buy_price = item_req.json()['data'][i]['gold']['base']
    except:
        buy_price = np.nan
    
    try:
        sell_price = item_req.json()['data'][i]['gold']['sell']
    except:
        sell_price = np.nan
        
    try:
        tag = item_req.json()['data'][i]['tags'][0]
    except:
        tag = np.nan
    
    pre_df = pd.DataFrame({'item_id' : [item_id],
                           'name' : [name],
                           'upper_item' : [upper_item],
                           'explain' : [explain],
                           'buy_price' : [buy_price],
                           'sell_price' : [sell_price],
                           'tag' : [tag]
                          })
    
    item_table = item_table.append(pre_df)

In [19]:
item_table

,item_id,name,upper_item,explain,buy_price,sell_price,tag
0,1001,Botas,"[3158, 3006, 3009, 3020, 3047, 3111, 3117]",Aumenta levemente la velocidad de movimiento.,300,210,Boots
0,1004,Amuleto de las hadas,"[3114, 4642]",Aumenta levemente la regeneración de maná.,250,175,ManaRegen
0,1006,Perla de rejuvenecimiento,"[3109, 3801]",Aumenta levemente la regeneración de vida.,150,105,HealthRegen
0,1011,Cinturón de gigante,"[3075, 3001, 3083, 3116, 3748, 4637]",Aumenta en gran medida la vida.,500,630,Health
0,1018,Capa de agilidad,"[3124, 6676, 3086, 3031, 3036, 3072, 3095, 313...",Aumenta levemente la probabilidad de crítico.,600,420,CriticalStrike
...,...,...,...,...,...,...,...
0,6691,Filoscuro de Draktharr,NaN,,1000,2240,Damage
0,6692,Eclipse,NaN,,850,2240,Damage
0,6693,Garra de merodeador,NaN,,1000,2240,Damage
0,6694,Rencor de Serylda,NaN,,850,2380,Damage
0,6695,Colmillo de serpiente,NaN,,625,1820,Damage

In [4]:
page1 = requests.get('https://euw1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/CHALLENGER/I?page=1&api_key=RGAPI-6ea493ef-299e-4b4a-b242-a68b1fbb4d6d').json()

In [7]:
df1 = pd.json_normalize(page1)

In [6]:
page2 = requests.get('https://euw1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_SOLO_5x5/CHALLENGER/I?page=2&api_key=RGAPI-6ea493ef-299e-4b4a-b242-a68b1fbb4d6d').json()

In [10]:
df2 = pd.json_normalize(page2)

In [14]:
df2

,leagueId,queueType,tier,rank,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak
0,9a5f071c-c899-3750-b338-7b4eee40f8c0,RANKED_SOLO_5x5,CHALLENGER,I,nW0n6Tz3g0-OfzrChMOF0QM0cmZ8sgvZNZmMfICNRfh2bQrc,KARINAs kitten,589,453,414,False,False,True,False
1,9a5f071c-c899-3750-b338-7b4eee40f8c0,RANKED_SOLO_5x5,CHALLENGER,I,ovDDWnQ47iU-fXBGP6Rwo9_PaGn1XFvFRiNDjqhMtgKf_iQF,Àitchare,589,292,250,True,False,False,False
2,9a5f071c-c899-3750-b338-7b4eee40f8c0,RANKED_SOLO_5x5,CHALLENGER,I,7uCdP4F07cAHdVz76_1eUy5xscXTO_VBi3aawwwW2mQ,Sushi24,588,126,95,False,False,False,False
3,9a5f071c-c899-3750-b338-7b4eee40f8c0,RANKED_SOLO_5x5,CHALLENGER,I,AKQBJRteG1UTRLTT6h6YJg-2rTO6ItbeIKD1ECCa30EQgEU,Yung Corona,587,96,64,False,False,False,False
4,9a5f071c-c899-3750-b338-7b4eee40f8c0,RANKED_SOLO_5x5,CHALLENGER,I,-Qu43VNCTyc0upNr1yuybwBAcctTetwmYOm04YS8F1XY6xQ,Happy Mish,585,235,200,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,9a5f071c-c899-3750-b338-7b4eee40f8c0,RANKED_SOLO_5x5,CHALLENGER,I,XRbDY33eQRfWDjZ9BBpo3eNqk7YU_lk6BHkKLlFil1UvHmM,Eikahoon,536,255,235,False,False,True,False
91,9a5f071c-c899-3750-b338-7b4eee40f8c0,RANKED_SOLO_5x5,CHALLENGER,I,W_uvweNlY2hgLvaw6v7OZorYbqFL0olO8hoXXvz3cMSYcz0,Fïstiland,531,136,113,False,False,True,False
92,9a5f071c-c899-3750-b338-7b4eee40f8c0,RANKED_SOLO_5x5,CHALLENGER,I,Rhj5JUYvLPk-wxRuRZDVhydNiRp4dMJyqNVvddzdiNZJlS4,Ziix Garguentua,523,221,190,True,False,False,False
93,9a5f071c-c899-3750-b338-7b4eee40f8c0,RANKED_SOLO_5x5,CHALLENGER,I,ixjdRUNlXFCIx2xPRxY5zxRRNC7KdUJaTnqhaGKeff1ber8q,Bublekanosss,507,230,178,False,False,True,False
94,9a5f071c-c899-3750-b338-7b4eee40f8c0,RANKED_SOLO_5x5,CHALLENGER,I,58usZRzu06d0uXYP3nSsgWP3Vfk2-CJxuKI7x1HRwCGjdYe_,CN UNCHAINED,482,210,184,False,False,True,False

In [15]:
challenger = pd.concat([df1, df2], ignore_index=False)

In [19]:
challenger[challenger['summonerName'] == 'G2 Martin 6']

,leagueId,queueType,tier,rank,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak
10,9a5f071c-c899-3750-b338-7b4eee40f8c0,RANKED_SOLO_5x5,CHALLENGER,I,h8yW9JHkImgKh9zl0iLT8USNm_EJ3OP12C7Hk-4JxOcUwFQ,G2 Martin 6,1069,248,193,True,False,False,False

In [ ]:
players = ['InsaneDanishDude', 'G2 Martin 6', ]

# GET SUMMONER CHAMPION MASTERY