In [1]:
import requests
import pandas as pd
import time

In [1]:
#Global var
summoner_id = "https://euw1.api.riotgames.com/lol/summoner/v4/summoners/"
key = ''

def request(name):
    time.sleep(1)
    print("Request Done")
    URL = "{}by-name/{}?api_key={}".format(summoner_id,name,key)
    response = requests.get(URL)
    return response.json()

In [2]:
players_list = ['Jeskla', 'promisq', 'WhiteKnight', 'Zanzarah', 'MagiFelix', 'Nukeduck', 'Czekolad', 'Dan', 'Kryze', 'Patrik', 'Johannes KIæbo', '100 Abbedagge', 
                'BrokenBlade', 'Gilius', 'LIMIT', 'Neon', 'Bwipo', 'Hilyssang', 'Nisqy', 'Upset', 'Selfmade', 'NoWoWFreeWin', 'Jankos', 'Caps', 'Rekkles', 'Mikyx', 
               'Armut', 'Carzzy', 'Elyoya', 'Humanoid', 'Kaiser', 'HiRit', 'Kobee', 'Razork', 'Vander', 'Vetheo', 'Hans Sama', 'Inspired', 'Larssen', 'Odoamne',
               'Trymbi', 'Blue', 'Liantiao Jenax', 'Jezu', 'Treatz', 'TynX', 'Labrov', 'Milicaaaa', 'Skeanz', 'Szygenda', 'Crownshot', 'Comp']

In [ ]:
players = []
for x in players_list:
    time.sleep(1)
    try:
        raw = request(x)
        player_id = (raw['id'])
        account_id = (raw['accountId'])
        puuid = (raw['puuid'])
    except:
        pass
    player_list = {'name': x,
                   'id': player_id,
                  'account ID': account_id,
                  'puuid': puuid}
    players.append(player_list)

In [8]:
players_df = pd.DataFrame(players)

In [10]:
players_df['id'][0]

'4H_F9a3vJ9-MBTODZE8-SttnyWyb4SmIjJGJxjbonv8g-hnP'

In [12]:
players_df.to_csv('players.csv')

# Champions mastery

In [13]:
summoners_id = list(players_df['id'])

In [15]:
summoners_id[0]

'4H_F9a3vJ9-MBTODZE8-SttnyWyb4SmIjJGJxjbonv8g-hnP'

In [16]:
ch_mastery_link = "https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/"
key = ''

def champ_mastery(summoner_id):
    time.sleep(1)
    print("Request Done")
    URL = "{}by-summoner/{}?api_key={}".format(ch_mastery_link,summoner_id,key)
    response = requests.get(URL)
    return response.json()

In [ ]:
champs = []
for x in summoners_id:
    champs.append(champ_mastery(x))

In [33]:
champion_info = []
for i in champs:
    for x in i:
        summonerId = x['summonerId']
        championId = x['championId']
        championlevel = x['championLevel']
        championpoints = x['championPoints']
        info = {
            'summonerId': summonerId,
            'champion': championId,
            'champion level': championlevel,
            'champion points': championpoints
        }
        champion_info.append(info)

In [35]:
ch_mastery_df = pd.DataFrame(champion_info)

In [37]:
ch_mastery_df.to_csv('champions_mastery.csv')

# Matches history

In [3]:
players = pd.read_csv('players.csv')

In [4]:
account_ids = list(players['account ID'])

In [ ]:
#matches_url = 'by-account/Coz3xnh0cvuM1w_3RCjPOnxorcRrvR7jNJ1GGasOMbkic0c0pKjeT09S?api_key=RGAPI-6ea493ef-299e-4b4a-b242-a68b1fbb4d6d'

In [7]:
match_url = "https://euw1.api.riotgames.com/lol/match/v4/matchlists/"
key = ''

def request_match(accountid):
    time.sleep(1)
    print("Request Done")
    URL = "{}by-account/{}?api_key={}".format(match_url,accountid,key)
    response = requests.get(URL)
    return response.json()

In [5]:
account_ids[0]

'Coz3xnh0cvuM1w_3RCjPOnxorcRrvR7jNJ1GGasOMbkic0c0pKjeT09S'

In [8]:
ex = request_match('Coz3xnh0cvuM1w_3RCjPOnxorcRrvR7jNJ1GGasOMbkic0c0pKjeT09S')

Request Done

In [9]:
ex
#nos interesa gameId, 'champion', 'role', 'lane'

{'matches': [{'platformId': 'EUW1',
   'gameId': 4842099510,
   'champion': 64,
   'queue': 400,
   'season': 13,
   'timestamp': 1601393205994,
   'role': 'DUO_SUPPORT',
   'lane': 'TOP'},
  {'platformId': 'EUW1',
   'gameId': 4842085761,
   'champion': 110,
   'queue': 450,
   'season': 13,
   'timestamp': 1601391703077,
   'role': 'DUO',
   'lane': 'NONE'},
  {'platformId': 'EUW1',
   'gameId': 4842061169,
   'champion': 104,
   'queue': 400,
   'season': 13,
   'timestamp': 1601389988380,
   'role': 'NONE',
   'lane': 'JUNGLE'},
  {'platformId': 'EUW1',
   'gameId': 4437068133,
   'champion': 110,
   'queue': 400,
   'season': 13,
   'timestamp': 1583181522333,
   'role': 'DUO_CARRY',
   'lane': 'MID'},
  {'platformId': 'EUW1',
   'gameId': 4436995638,
   'champion': 104,
   'queue': 400,
   'season': 13,
   'timestamp': 1583179749583,
   'role': 'NONE',
   'lane': 'JUNGLE'}],
 'startIndex': 0,
 'endIndex': 5,
 'totalGames': 5}

In [ ]:
players_df

In [229]:
jeskla = pd.DataFrame(request_match('Coz3xnh0cvuM1w_3RCjPOnxorcRrvR7jNJ1GGasOMbkic0c0pKjeT09S')['matches'])

Request Done

In [182]:
jeskladf = pd.DataFrame(jeskla)

In [230]:
jeskla['name'] = 'Jeskla'
jeskla['account ID'] = 'Coz3xnh0cvuM1w_3RCjPOnxorcRrvR7jNJ1GGasOMbkic0c0pKjeT09S'

In [311]:
nuckeduck = pd.DataFrame(request_match('yY2gRGb-gICRKHim9jqvMmlCXVQuSkGUIJktDjxY8C_VYQ')['matches'])
tore = pd.DataFrame(request_match('HP51wjll4ionrrBw7g_Y89941R5EsH8vMmlm6uf2rEWG8Q')['matches'])
abbedagge = pd.DataFrame(request_match('ApmrzD9zU61soOEy4qy4hxNMI_RRvjU1GeQcM28c0XAgew')['matches'])
wunder = pd.DataFrame(request_match('f2Zsm52tgn0MjXu1cNkpY7Zf34bIOa90tIm-YanjaUZnZw')['matches'])
inspired = pd.DataFrame(request_match('6FnOBiuXL5qsxLqriDWCAS6K6gn5WkKauQvP3GlLL09ZQ2U')['matches'])
jenax = pd.DataFrame(request_match('g6waCr1OfGHdCOQtWulH1zPJzhuQvo3680RV_p3qLZvpYw')['matches'])
milica = pd.DataFrame(request_match('JM78PN-V3NeVvWsIzLEhC1cH0wYa1SsmzQRxL0wNGyDkQg')['matches'])

Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done

In [192]:
promisq = pd.DataFrame(request_match('GwrgFEZCIZsoOyaJIkDytATxtVrJC0HPv-7z1YjU27FXYj0')['matches'])
whiteknight = pd.DataFrame(request_match('GbOI_GQcCaRONjQMqn1ys3qdswr4aOsadHx0mN4amm4HTQ')['matches'])
zanzarah = pd.DataFrame(request_match('cluEmtgY32dNiyCP0NOV12ss2-YJd0fEqLxpqsFtm_UIK24')['matches'])
magifelix = pd.DataFrame(request_match('hoSgSXRRjdazugoZMyk4x_wePBqKgUqpzV6BHo68aWAmqjk')['matches'])

Request Done
Request Done
Request Done
Request Done

In [318]:
milica['name'] = 'Milica'
milica['account ID'] = 'JM78PN-V3NeVvWsIzLEhC1cH0wYa1SsmzQRxL0wNGyDkQg'

In [216]:
patrik['name'] = 'Patrik'
patrik['account ID'] = '_rPkiIPMuh_wLi3j8kGL08Q0fdYbv8hD_9X3rfMNUO1EiqY'

In [207]:
czekolad = pd.DataFrame(request_match('qxn4H8Fei2OEqCV23Gp50gEOvGo4A2WJzorDElIv9x_n4-dgcH8CTSQ7')['matches'])
dan = pd.DataFrame(request_match('rV3nvIPRli5XTBwRfMMhvWMZbZ-JdXrfoF061igWpgtwdf0')['matches']
kryze = pd.DataFrame(request_match('5lcC2_LF0rE1VEf4WRMUL8YUPMvdN9G82G56RKleyRvRGL8')['matches'])
patrik = pd.DataFrame(request_match('_rPkiIPMuh_wLi3j8kGL08Q0fdYbv8hD_9X3rfMNUO1EiqY')['matches'])

Request Done
Request Done
Request Done
Request Done

In [217]:
brokenBlade = pd.DataFrame(request_match('vQGn-20BiEfAXV3FOP0fu8GO32rZIgV3BOdMgD-p_npKfQ')['matches'])
gilius = pd.DataFrame(request_match('2y578KCoINJisbXxmWXxIgemgZLFQ4uC5INMh34RjypuHgbOgtaOpqby')['matches'])
limit = pd.DataFrame(request_match('m8ixfwWc2wINLgJsAxfV59zdvrYydmAPo5MS-aj6HMGSA1g')['matches'])
neon = pd.DataFrame(request_match('uz5ZcJ_wKe3A1XKa9cLsvLQnHGg8l4PG4YURcjcUj6J_Qw')['matches'])

Request Done
Request Done
Request Done
Request Done

In [233]:
bwipo = pd.DataFrame(request_match('iEIBVpekh8yG9eu1JpIqQs9nohS3ov2nHU5hsF75zPSZ6Q')['matches'])
hylissang = pd.DataFrame(request_match('J5QuOoLbpQcMX_yO24v_g0zVh7w0pRDoplt8iTVltKt72NU')['matches'])
nisqy = pd.DataFrame(request_match('ArUebBcAipoo0jzCo8oDokUx8yGXLlhQdqrjeOL01JdHFpdcFHYxnesH')['matches'])
upset = pd.DataFrame(request_match('xOcC-Ch405Ajjv_jJJZsOkF1FKKJXKMrWRyi2TgvVxtcY0I')['matches'])
selfmade = pd.DataFrame(request_match('hlT6IfXueADnh1FW5DhJByLT3SF3i6ySxftP_G7N-U0fXg')['matches'])

Request Done
Request Done
Request Done
Request Done
Request Done

In [247]:
jankos = pd.DataFrame(request_match('QkkRqdHyg5b1g_CaUJTUyRZSJWd5mclc1DX4XG6Lc9BHA5k')['matches'])
caps = pd.DataFrame(request_match('if8wXjjTtlgRu16KtTWO7K0JvIeM-Gp28r1zxKbljmAyhBxuEhF8FFf0')['matches'])
rekkles = pd.DataFrame(request_match('kATW08iCMSLDrxgQPHv1FKBOqGmtnJY_TyjNr8rhL40vgak')['matches'])
mikyx = pd.DataFrame(request_match('A0i7zsy0KXsmX98bAICC2x7aBHiyL0fqQYH7Bba3uoiNsog')['matches'])

Request Done
Request Done
Request Done
Request Done

In [255]:
# MADLIONS
armut = pd.DataFrame(request_match('JyrhAFSwqle0IqjbZe6A9Au5eTvgZeC1I4T3fy-BczdyTIVCTsH7yvxO')['matches'])
carzzy =  pd.DataFrame(request_match('pAUgu-SezFBdCxxbTRjoorgNrQFqEnmKG2HgCtzqoq5wbZLnByppiIo3')['matches'])
elyoya = pd.DataFrame(request_match('qBxTQPj4BDC4JlYHMQ2kHn41oabOiVKTgUY8quL-6jynroc2_DRuP1S0')['matches'])
humanoid = pd.DataFrame(request_match('Z8FsTnwdulnxxcNqJWsLpfFIUPuJT7yJ0qsS3jWBMP1-LH3NqaOJg2Sr')['matches'])
kaiser = pd.DataFrame(request_match('itX8TXW7NR-_xDhn6v_b4MAjr8HE5DbIfxDfsArltz53SCGldJkhyanz')['matches'])

Request Done
Request Done
Request Done
Request Done
Request Done

In [279]:
trymbi['name'] ='Trymbi'
trymbi['account ID'] = 'ZZKkBReLUPh2E6AEKL6thh-Mo8NDott7OCyCGo2oCVbH9h1HHRt9rnDJ'

In [267]:
hirit = pd.DataFrame(request_match('oXx8yotit181eWgsAP-6t0Hxq-LtW_iaGhwKbUGuM_FDfHTA02CS2gYt')['matches'])
kobee = pd.DataFrame(request_match('o8pO2KZo2ENHnZ8O0jJVy1E3cdO9ACJvv26G1--5aGk3Ew')['matches'])
razork = pd.DataFrame(request_match('lSXSXYijmFDITQU0oq7Tp3is1sAfIy4DVGfQnTAa0kqF7A')['matches'])
vander = pd.DataFrame(request_match('I5QPDD0Ac2KVQZ0LwAILB84IGrtL_PferGaYf7mRff7LlmQ')['matches'])
vetheo = pd.DataFrame(request_match('VNsTIb0UybmEyVeG_gwuE0wZfVM4RQWYSPrgnCpXKWXAfGM')['matches'])

Request Done
Request Done
Request Done
Request Done
Request Done

In [275]:
#ROGUE
hanssama = pd.DataFrame(request_match('BqSewgzIhgPKWrJvpE_7OIcG0J4Um_h2v1g_aQqWm31yswA')['matches'])
larssen = pd.DataFrame(request_match('BFaFzgl8RUP88n4D2kaxuU2-jYaPvlUh7FfJpAA6tILXkgorJ08WW5yG')['matches'])
odoamne = pd.DataFrame(request_match('8YZ9R3-UfELSJuez0o0PglZEgaXCsKwtBW0L-4Oa575jeg')['matches'])
trymbi = pd.DataFrame(request_match('ZZKkBReLUPh2E6AEKL6thh-Mo8NDott7OCyCGo2oCVbH9h1HHRt9rnDJ')['matches'])

Request Done
Request Done
Request Done
Request Done

In [293]:
blue = pd.DataFrame(request_match('WdbZsdSquKx2U-56U9qGUZrl-T5jgM0KU_kzyQ1elUIdhw')['matches'])
jezu = pd.DataFrame(request_match('XjWwMszxRT2uqbWTuOWYmalbs4u0ZHCeUxh2oMWZuLFhQuVPMBVgLMx7')['matches'])
treatz = pd.DataFrame(request_match('-uXNbMGMC5npsYxbODsernbiMimOJpYp-Werv9hSJFA9Cdc')['matches'])
tynX = pd.DataFrame(request_match('dNPdgyOsx3a_R_2trr4RKK7s6qguf6xWxAU6cknVZc53BPs')['matches'])
labrov = pd.DataFrame(request_match('cEM2T3R6vP1kLhftKLNY4M7eHJMlqEaqdAtMuJNLjilVG6cKrBNuoKvK')['matches'])

Request Done
Request Done
Request Done
Request Done
Request Done

In [306]:
comp['name'] ='Comp'
comp['account ID'] = 'jCbaHgV3IsDif0vwIw5JxfYXiHQM4jCeKJDUPlrzUhIU6w'

In [301]:
skeanz = pd.DataFrame(request_match('GesUDxnhURrab36C1tURYXtDpHOL9BuPLUmyjCJwA4CFh6rqY4gM2I7j')['matches'])
szygenda = pd.DataFrame(request_match('bYX8erDYt7TSD1IpsKzSaSqrUofAONxyb0aWRs6K6jwtG7I')['matches'])
crownshot = pd.DataFrame(request_match('3HY5TBIvhGF_eTkX5OivENBncohaTu6AyRCoo3BBZFT-yIKbAq4q9dtE')['matches'])
comp = pd.DataFrame(request_match('jCbaHgV3IsDif0vwIw5JxfYXiHQM4jCeKJDUPlrzUhIU6w')['matches'])

Request Done
Request Done
Request Done
Request Done

In [320]:
players_list = ['jeskla', 'promisq', 'WhiteKnight', 'Zanzarah', 'MagiFelix', 'Nuckeduck', 'Czekolad', 'Dan', 'Kryze', 'Patrik', 'Tore', 'Abbedagge', 
                'BrokenBlade', 'Gilius', 'LIMIT', 'Neon', 'Bwipo', 'Hilyssang', 'Nisqy', 'Upset', 'Selfmade', 'Wunder', 'Jankos', 'Caps', 'Rekkles', 'Mikyx', 
               'Armut', 'Carzzy', 'Elyoya', 'Humanoid', 'Kaiser', 'HiRit', 'Kobee', 'Razork', 'Vander', 'Vetheo', 'Hans Sama', 'Inspired', 'Larssen', 'Odoamne',
               'Trymbi', 'Blue', 'Jenax', 'Jezu', 'Treatz', 'TynX', 'Labrov', 'Milica', 'Skeanz', 'Szygenda', 'Crownshot', 'Comp']
pl_game_df = pd.concat([jeskla, promisq, whiteknight, zanzarah, magifelix, nuckeduck, czekolad, dan, kryze, patrik, tore, abbedagge, brokenBlade, 
                       gilius, limit, neon, bwipo, hylissang, nisqy, upset, selfmade, wunder, jankos, caps, rekkles, mikyx, armut, carzzy, elyoya,
                       humanoid, kaiser, hirit, kobee, razork, vander, vetheo, hanssama, inspired, larssen, odoamne, trymbi, blue, jenax, jezu,
                       treatz, tynX, labrov, milica, skeanz, szygenda, crownshot, comp], ignore_index=True)

In [405]:
pl_game_df.to_csv('games.csv')

In [485]:
not_classic = pl_game_df[pl_game_df['lane'] != 'NONE']

In [512]:
len(not_classic['gameId'].unique())

3566

In [504]:
not_classic.to_csv('normal_games.csv')

In [89]:
games = pd.read_csv('games.csv')
normal_gams = games[games['lane'] != 'NONE']

In [90]:
normal_gams.reset_index()

,index,Unnamed: 0,platformId,gameId,champion,queue,season,timestamp,role,lane,name,account ID
0,0,0,EUW1,4842099510,64,400,13,1601393205994,DUO_SUPPORT,TOP,Jeskla,Coz3xnh0cvuM1w_3RCjPOnxorcRrvR7jNJ1GGasOMbkic0...
1,2,2,EUW1,4842061169,104,400,13,1601389988380,NONE,JUNGLE,Jeskla,Coz3xnh0cvuM1w_3RCjPOnxorcRrvR7jNJ1GGasOMbkic0...
2,3,3,EUW1,4437068133,110,400,13,1583181522333,DUO_CARRY,MID,Jeskla,Coz3xnh0cvuM1w_3RCjPOnxorcRrvR7jNJ1GGasOMbkic0...
3,4,4,EUW1,4436995638,104,400,13,1583179749583,NONE,JUNGLE,Jeskla,Coz3xnh0cvuM1w_3RCjPOnxorcRrvR7jNJ1GGasOMbkic0...
4,5,5,EUW1,5224695665,11,400,13,1619035149635,NONE,JUNGLE,Promisq,GwrgFEZCIZsoOyaJIkDytATxtVrJC0HPv-7z1YjU27FXYj0
...,...,...,...,...,...,...,...,...,...,...,...,...
3577,4628,4628,EUW1,5105509491,432,440,13,1613749153729,DUO_SUPPORT,BOTTOM,Comp,jCbaHgV3IsDif0vwIw5JxfYXiHQM4jCeKJDUPlrzUhIU6w
3578,4629,4629,EUW1,5066958615,235,440,13,1612134649706,DUO_SUPPORT,BOTTOM,Comp,jCbaHgV3IsDif0vwIw5JxfYXiHQM4jCeKJDUPlrzUhIU6w
3579,4630,4630,EUW1,5059876299,235,440,13,1611862578574,DUO_SUPPORT,BOTTOM,Comp,jCbaHgV3IsDif0vwIw5JxfYXiHQM4jCeKJDUPlrzUhIU6w
3580,4631,4631,EUW1,5059708405,235,440,13,1611859759853,DUO_SUPPORT,BOTTOM,Comp,jCbaHgV3IsDif0vwIw5JxfYXiHQM4jCeKJDUPlrzUhIU6w
3581,4633,4633,EUW1,5057362543,53,440,13,1611757199686,DUO_SUPPORT,BOTTOM,Comp,jCbaHgV3IsDif0vwIw5JxfYXiHQM4jCeKJDUPlrzUhIU6w

NameError: name 'reset_index' is not defined

# OBTENER RESULTADO DE CADA PARTIDA (matchID)

In [5]:
normal_df = pd.read_csv('normal_games.csv')

In [100]:
games = list(normal_df['gameId'].unique())
names = list(normal_df['name'].unique())

In [66]:
len(names)

51

In [13]:
games[0]

4842099510

with open("match.txt", "w") as output:
    output.write(str(matches))

In [101]:
matchid_url = 'https://euw1.api.riotgames.com/lol/match/v4/matches/'
key = ''
def rmatches(games):
    time.sleep(1)
    print("Request Done")
    URL = "{}{}?api_key={}".format(matchid_url,games,key)
    response = requests.get(URL)
    return response.json()

In [ ]:
#matches = []

In [105]:
#matches_info = []

In [159]:
for x in games[2280: 2371]:
    time.sleep(1)
    api_call = rmatches(x)
    try:
        game_id = api_call['gameId']
        for team in api_call['teams']:
            blue = team['win']
        for x in api_call['participantIdentities']:
            if x['player']['summonerName'] == 'Vander':
                name = 'Vander'
                partid = x['participantId']
            else:
                partid = 'no info'
        for i in api_call['participants']:
            if i['participantId'] == partid:
                winner = i['stats']['win']
    except:
        game_id = x
        blue = 'no info'
    info = {
        'game Id': game_id,
        'name': name,
        'win': winner,
        'blue_results': blue,
    }
    matches_info.append(info)

Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done
Request Done

In [142]:
matches_info[1400]

{'game Id': 5117839039, 'name': 'Neon', 'win': True, 'blue_results': 'Win'}

In [98]:
matches[0]['gameId']

5204622359

In [67]:
matches[0]['teams'][0]['win']

'Fail'

In [30]:
matches_info = []
for x in matches:
    for i in x['participantIdentities']:
        account_id = (i['player']['accountId'])
        summoner_name = i['player']['summonerName']
        participant_id = i['participantId']
        info = {
            'account Id': account_id,
            'summoner_name': summoner_name,
            'participant_id': participant_id
        }
    matches_info.append(info)

In [ ]:
matches_info.append('game Id': x['gameId'])

In [31]:
matches_info

[{'account Id': 'DlUXorENYnlxDye3dn0nXKK2joTI6EnzkQyTkaFRnp-oM63TXTZ73tHL',
  'summoner_name': 'Une Jolie Tueuse',
  'participant_id': 10},
 {'account Id': 'QxWdJY0EGBhgajXdMvQ8_UyOlb4ikdmO4IkjE0SNKy_yzEyZl2KDA5Fj',
  'summoner_name': 'AlTony',
  'participant_id': 10},
 {'account Id': 'EhZAU3xReTbd0oa7zCgUV69i77p8sfrtZitsOMEBSDqmkaKkDu-Kymbm',
  'summoner_name': 'pams2gerz2',
  'participant_id': 10}]

In [19]:

    for i in matches:
        blue_side = (i['participants'][0:5])
        red_side = (i['participants'][5:10])
        teams = []
        for j in range(len(blue_side)):
            participant_id = blue_side[j]['participantId']
            champion_id = blue_side[j]['championId']
            team = 'blue'
            info = {
                'participant id': participant_id,
                'champion id': champion_id,
                'team': team
                }
        teams.append(info)
        for k in range(len(red_side)):
            participant_id = red_side[k]['participantId']
            champion_id = red_side[k]['championId']
            team = 'red'
            info = {
                'participant id': participant_id,
                'champion id': champion_id,
                'team': team
                }
            teams.append(info)
        summoner_name = []
        for l in range(len(resultados['participantIdentities'])):
            summoner = resultados['participantIdentities'][l]['player']['summonerName']
            summoner_name.append(summoner)

Request Done
Request Done
Request Done

In [21]:
teams

[{'participant id': 5, 'champion id': 25, 'team': 'blue'},
 {'participant id': 10, 'champion id': 99, 'team': 'red'}]

In [ ]:
for x in matches:
    blue_side = (x['participants'][0:5])
    red_side = (x['participants'][5:10])
    teams = []
    for x in range(len(blue_side)):
        participant_id = blue_side[x]['participantId']
        champion_id = blue_side[x]['championId']
        team = 'blue'
        info = {
            'participant id': participant_id,
            'champion id': champion_id,
            'team': team
        }
        teams.append(info)
    for i in range(len(red_side)):
        participant_id = red_side[i]['participantId']
        champion_id = red_side[i]['championId']
        team = 'red'
        info = {
            'participant id': participant_id,
            'champion id': champion_id,
            'team': team
        }
        teams.append(info)
    summoner_name = []
    for i in range(len(resultados['participantIdentities'])):
        summoner = resultados['participantIdentities'][i]['player']['summonerName']
        summoner_name.append(summoner)

resultados

# Datos individuales de los partidos

In [422]:
blue_side = (resultados['participants'][0:5])
red_side = (resultados['participants'][5:10])

In [460]:
teams = []
for x in range(len(blue_side)):
    participant_id = blue_side[x]['participantId']
    champion_id = blue_side[x]['championId']
    team = 'blue'
    info = {
        'participant id': participant_id,
        'champion id': champion_id,
        'team': team
    }
    teams.append(info)
for i in range(len(red_side)):
    participant_id = red_side[i]['participantId']
    champion_id = red_side[i]['championId']
    team = 'red'
    info = {
        'participant id': participant_id,
        'champion id': champion_id,
        'team': team
    }
    teams.append(info)

In [471]:
summoner_name = []
for i in range(len(resultados['participantIdentities'])):
    summoner = resultados['participantIdentities'][i]['player']['summonerName']
    summoner_name.append(summoner)

In [475]:

matches = pd.DataFrame(teams)
matches['players'] = summoner_name
matches['game_id'] = (resultados['gameId'])
matches['gameduration'] = (resultados['gameDuration'])
matches['gamemode'] = (resultados['gameMode'])
matches['blue'] = (resultados['teams'][0]['win'])
matches['red'] = (resultados['teams'][1]['win'])

In [479]:
matches

,participant id,champion id,team,players,game_id,gameduration,gamemode,blue,red
0,1,17,blue,IstPickTeemo,4842099510,1342,CLASSIC,Fail,Win
1,2,245,blue,aEsWmAudrey,4842099510,1342,CLASSIC,Fail,Win
2,3,55,blue,Mrs Katrina,4842099510,1342,CLASSIC,Fail,Win
3,4,111,blue,6 x A,4842099510,1342,CLASSIC,Fail,Win
4,5,114,blue,L2PYasuoL2P,4842099510,1342,CLASSIC,Fail,Win
5,6,81,red,TheFifthOne342,4842099510,1342,CLASSIC,Fail,Win
6,7,157,red,4nz22,4842099510,1342,CLASSIC,Fail,Win
7,8,555,red,El buen Karma,4842099510,1342,CLASSIC,Fail,Win
8,9,64,red,Jeskla,4842099510,1342,CLASSIC,Fail,Win
9,10,82,red,Une Jolie Tueuse,4842099510,1342,CLASSIC,Fail,Win